html,body{
	margin:0;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: white;
	background-color: black;
	font-size: 16px;

	}
*{
	box-sizing: border-box;
}

header{
	background: linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.05)),
	url('/home/stefan/Desktop/netflix clone/netflix.jpg');
	height: 100vh;
}

.pitch >h1{
	font-size: 48px;
	text-align: center;
	font-weight: 550;
	margin-top: 7%;
}
p.pitch-1{
	text-align: center;	
	font-weight: 500;
	font-size: 25px;
	/*margin-top: -1%*/ 
}
.pitch-2{
	text-align: center;	
	font-weight: lighter;
	font-size: 20px;
	margin-top:2% 

}


nav img{
	height:80px ;
	width:150px; 
	vertical-align: middle;
}

nav a.logo{
display: inline-block;
line-height: 90px;
margin-left:3%;
}

header nav{
	height: 90px;
}


nav a.signin{
	color: #fff;
	float: right;
	background-color: #e50914;
	line-height: normal;
	margin-top: 18px;
	margin-right: 3%;
	padding: 7px 17px;
	font-weight: 400;
	border-radius: 3px;
	font-size:16px;
	text-decoration:none;
}


.btn{
	font-size:30px;
	font-weight: 500;
	padding:12px 0.8em;
	color: #fff;
	background-color: #e50914;
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;;
	border-radius: 5px;
	text-align: center;
	border:0;
	
}
#mail{
	font-size:1rem;
	width: 454px;
	margin-left: 25%;
	padding:20px 7em 20px 1em;
	color: #fff;
	background-color: #fff;
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;;
	border-radius: 2px;
	text-align: left;
	border:0;
}

nav .signin:hover, .btn:hover{
	background:#f40612;
}

/*#sideimage1{
	width: 30px;
	height: 50px;
}
*/
.style-cards h1{
	font-size:3rem;
	padding:1rem;
	padding-left: 0;

}

.style-cards h3{
	font-size:1.6rem;
	line-height: 2rem; 
}

.card1,
.card2,
.card3,
.last,
.hello{
	border-top: 8px rgb(69,69,69)solid;
	padding: 50px;
}

.card1{
	position: relative;
	display: inline-grid;
	grid-template-columns: 40% 50%;
	text-align:left;
	align-items: center;
	padding: 25px 45px 50px;
}
.desc1{
	padding-left: 80px
}

.card2{
	position: relative;
	display: inline-grid;
	grid-template-columns: 40% 50%;
	text-align:left;
	align-items: center;
	padding: 25px 45px 40px;
}
.desc2{
	padding-right: 100px
}
.card3{
	position: relative;
	display: inline-grid;
	grid-template-columns: 50% 40%;
	text-align:left;
	align-items: center;
	padding: 25px 45px 50px;
}
.desc3{
	padding-right: 80px
}

.card1 img{
	width: 90%;
	grid-column: 2/2;
	grid-row: 1/2;
}
.card3 img{
	width: 110%;
	grid-column: 2/2;
	grid-row: 1/2;
}
.questions{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
	align-items: center;
}

.questions li{
	padding: 20px 30px;
	margin: 5px;
	font-size: 1.6rem;
	background-color: #303030;
	color: white;
	text-align:left;
	width: 60%;

}
.faq{
	text-align: center;
}
.faq h1{
	padding-bottom: 40px;
	font-size:3rem;
}

.faq p{
	padding-top: 60px;
	font-size: 1.2rem;
	font-weight: 200;
}

.footer,.footer a, .footer ul{
	list-style-type: none;
	color: #999999;
	text-decoration: none;
	font-size: 0.9rem;
}
 .footer{
 	max-width: 70%;
 	margin:1rem auto;
 	overflow: auto;
 }

 .footer p{
 	margin-bottom: 1.5rem;

 }

 .footer .footer-cols{
 	display: grid;
 	grid-template-columns: repeat(4,1fr);
 	grid-gap: 2rem;

 }
 .footer li{
 	line-height: 2;
 }

 .footer a:hover{
 	text-decoration: underline;

 }